apiVersion: v1
kind: Secret
metadata:
  name: gitsecret
  namespace: {{ NAMESPACE }}
  annotations:
    tekton.dev/git-0: https://github.com    
type: kubernetes.io/basic-auth
stringData:
  username: {{ git_username }}
  password: {{ git_token }}