apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pline-pvc
  namespace: {{ NAMESPACE }}
spec:
  resources:
    requests:
      storage: {{ storage_size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain 