apiVersion: v1
kind: Secret
metadata:
  name: gitlabsecret
  namespace: {{ NAMESPACE }}
  annotations:
    #tekton.dev/git-0: https://github.com  
    tekton.dev/git-0: https://gitlab.com  
type: kubernetes.io/basic-auth
stringData:
  username: {{ git_username }}
  password: {{ git_token }}