apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
  name: {{ infrastructureID }}-storage-{{ zone }}
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
      machine.openshift.io/cluster-api-machineset: {{ infrastructureID }}-storage-{{ zone }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infrastructureID }}
        machine.openshift.io/cluster-api-machine-role: {{ role }}
        machine.openshift.io/cluster-api-machine-type: storage
        machine.openshift.io/cluster-api-machineset: {{ infrastructureID }}-storage-{{ zone }}
    spec:
      metadata:
        labels:
          type: storage-node
      providerSpec:
        value:
          ami:
            id: {{ ami_id }}
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: 200
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ InstanceProfile }}
          instanceType: {{ instanceType }}
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: {{ zone }}
            region: {{ region }}
          securityGroups:
            - filters:
                - name: tag:aws:cloudformation:logical-id
                  values:
                    - WorkerSecurityGroup
          subnet:
            filters:
              - name: tag:Name
                values:
                  - {{ subnet }}
          tags:
            - name: kubernetes.io/cluster/{{ infrastructureID }}
              value: owned
          userDataSecret:
            name: worker-user-data